In [24]:
import sqlite3

con = sqlite3.connect(":memory:")
cur = con.cursor()
cur.execute("create table lang (name, first_appeared)")

# This is the qmark style:
cur.execute("insert into lang values (?, ?)", ("C", 1972))

# The qmark style used with executemany():
lang_list = [
    ("Fortran", 1957),
    ("Python", 1991),
    ("Go", 2009),
]
cur.executemany("insert into lang values (?, ?)", lang_list)

# And this is the named style:
cur.execute("select * from lang")
print(cur.fetchall())

con.close()

[('C', 1972), ('Fortran', 1957), ('Python', 1991), ('Go', 2009)]

In [29]:
con = sqlite3.connect('example.db')
cur = con.cursor()
cur.execute("select * from stocks")
print(cur.fetchall())
con.close()

[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]